@font-face {
    font-family: retro;
    src: url(../fonts/WebPlus_IBM_VGA_8x16.woff)
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 8px;
}

body {
    display: grid;
    background-color: #000;
    font-family: 'retro', monospace;
    font-size: 2.5em;
    height: 100%;
    color: rgba(170,170,170,1)
}

p.quote {
    position:relative;
    margin: 80px 0px;
}

a:link {
    color: white;
}

a:hover {
    color: #b00;
}

.white {
    color: #fff;
}

.red {
    color: #b00;
}

div {
    margin-top: 1em;
}

nav.menu {
    position: relative;
    margin-top: 1em;
}


div.terminal {
    box-sizing: content-box;
    width: 60%;
    height: 100%;
    min-width: 800px;
    min-height: 600px;
    padding: 50px;
}

div.terminal > pre {
    font-family: 'retro', monospace;
}

.wrapper {
    display:grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.blink_me {
    animation: blinker 0.5s ease infinite;
}

div#prompt {
    position: relative;
    margin-top: 2em;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

ul {
    margin-top: 0px;
}

ul li {
    list-style-type: none;
}
ul li.hacked:before {
    content: "\1f5f9  ";
}

.listwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid white;
}